.slider {
  margin-left: 1050px;
}

.slidehead {
  margin-left: 1050px;
}

.canvas {
  border:solid 4px blue;
  position: absolute;
}

h1 {
    margin-left: 492px;
}

.image {
  margin-top: 260px;
  margin-bottom: 55px;
  margin-left: 10px;
  width: 200px;  
}