.slider {
  margin-left: 1050px;
}

.slidehead {
  margin-left: 1050px;
  margin-top: 25px;
}

.canvas {
  border: solid 2px black;
  background-color: rgba(59, 200, 255, 0.925);
  position: absolute;
}

h1 {
    margin-left: 492px;
}

.image {
  margin-top: 260px;
  margin-bottom: 55px;
  margin-left: 10px;
  width: 200px;  
}

.html {
  background-color: rgb(251, 251, 251);
}